@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Navbar example</h1>
    <p class="lead">Consumindo API</p>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Lotofacil" role="button">Lotofacil</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="MegaSena" role="button">Megasena</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Quina" role="button">Quina</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Lotomania" role="button">Lotomania</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Timemania" role="button">Timemania</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Duplasena" role="button">Duplasena</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Federal" role="button">Federal</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Loteca" role="button">Loteca</a>
    <a class="btn btn-lg btn-primary" role = "button" asp-action="Diadesorte" role="button">Diadesorte</a>
  </div>
</main>